@media screen and (min-width: 992px) and (max-width: 1200px) {
  div.wrapper {
    width: 100%;
    > div.img4 {
      margin-top: 30px;
      width: 100%;
      height: 481px;
      background-color: #f5f5f7;
      > div.up {
        width: 100%;
        height: 250px;
        > img {
            width: 200px;
          margin-left: 40%;
          margin-top: 60px;
        }
        > p {
          width: 350px;
          margin-left: 33%;
          margin-top: 10px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 600;
          text-align: center;
        }
        > a {
          > p {
            color: #2790f4;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 45.9%;
            margin-top: 3%;
            font-size: 17px;
            > i {
              margin-left: 5px;
              font-size: 11px;
            }
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      > div.down {
        text-align: center;
        > img {
            width: 278px;
        }
      }
    }
  }
}
