@media screen and (min-width: 768px) and (max-width: 992px) {
  div.wrapper {
    width: 100%; }
    div.wrapper > div.end {
      width: 100%;
      background-color: #f4f4f7;
      height: 1920px; }
      div.wrapper > div.end > div.endP {
        width: 95%;
        margin: 0 auto;
        height: inherit;
        border-bottom: 1px solid #dbdbdd;
        padding-top: 2%; }
        div.wrapper > div.end > div.endP > p {
          font-size: 13px;
          color: #818181;
          margin-top: 1%; }
          div.wrapper > div.end > div.endP > p > a {
            color: #818181;
            text-decoration: underline; } }
