@media screen and (min-width: 768px) and (max-width: 992px) {
  div.wrapper {
    width: 100%;
    > div.menu {
      width: 100%;
      height: 44px;
      background-color: #444445;
      position: relative;
      z-index: 50;
      > nav {
        width: 100%;
        height: 44px;
        > ul {
          width: 740px;
          height: 44px;
          display: flex;
          justify-content: space-around;
          flex-flow: row wrap;
          align-items: center;

          > li {
            padding: 13px 0;
            cursor: pointer;
            > a {
              font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
              color: #e3e3e3;
              font-size: 12px;
            }
          }
          > li:nth-of-type(1) > a > div.icon1 > i {
            font-size: 18px;
          }
          > li:nth-of-type(2) {
            transition: all 1000ms linear;
            &:hover {
              > div.menustore {
                display: flex;
              }
            }
            > div.menustore {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 360px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 0;
                height: 0;
                background-color: aqua;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 0.7;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 0.2;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(4) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 2;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(3) {
            transition: all 1000ms linear;
            &:hover {
              > div.menumac {
                display: flex;
              }
            }
            > div.menumac {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 500px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.3;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                flex-grow: 0.4;
                padding-top: 30px;
                flex-grow: 2.7;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a:nth-of-type(10),
                a:nth-of-type(11) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 12px;
                  padding-top: 10px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 30px;
                padding-top: 30px;
                flex-grow: 1;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(4) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 9;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(4) {
            transition: all 1000ms linear;
            &:hover {
              > div.menuipad {
                display: flex;
              }
            }
            > div.menuipad {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 470px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.07;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 0.7;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a:nth-of-type(10),
                a:nth-of-type(11) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 12px;
                  padding-top: 10px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 0.2;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(4) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 2;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(5) {
            transition: all 1000ms linear;
            &:hover {
              > div.menuiphon {
                display: flex;
              }
            }
            > div.menuiphon {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 470px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.07;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 0.9;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a:nth-of-type(8),
                a:nth-of-type(9) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 12px;
                  padding-top: 10px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 0.5;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(4) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 2;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(6) {
            transition: all 1000ms linear;
            &:hover {
              > div.menuwatch {
                display: flex;
              }
            }
            > div.menuwatch {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 470px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.07;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 1;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a:nth-of-type(8),
                a:nth-of-type(9) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 12px;
                  padding-top: 10px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 0.5;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(4) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 1;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(8) {
            transition: all 1000ms linear;
            &:hover {
              > div.menuairpod {
                display: flex;
              }
            }
            > div.menuairpod {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 470px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.07;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 0.7;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a:nth-of-type(7) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 12px;
                  padding-top: 10px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 0.3;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(4) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 2;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(9) {
            transition: all 1000ms linear;
            &:hover {
              > div.menutv {
                display: flex;
              }
            }
            > div.menutv {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 470px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.07;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 1;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 0.3;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(4) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 2;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(10) {
            transition: all 1000ms linear;
            &:hover {
              > div.menuenter {
                display: flex;
              }
            }
            > div.menuenter {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 470px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.07;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 0.4;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 1.8;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(11) {
            transition: all 1000ms linear;
            &:hover {
              > div.menuacce {
                display: flex;
              }
            }
            > div.menuacce {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 470px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.07;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 0.4;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 1.8;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > a {
                font-family: Arial, Helvetica, sans-serif;
                display: block;
                color: #e3e3e3;
                font-size: 15px;
                padding: 3px;
              }
            }
          }
          > li:nth-of-type(12) {
            transition: all 1000ms linear;
            &:hover {
              > div.menusupport {
                display: flex;
              }
            }
            > div.menusupport {
              position: absolute;
              top: 44px;
              width: 100%;
              height: 470px;
              background-color: #444445;
              right: 0;
              display: none;
              flex-flow: row wrap;
              > div:nth-of-type(1) {
                width: 100px;
                height: inherit;
                flex-grow: 0.15;
              }
              > div:nth-of-type(2) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 0.7;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a:nth-of-type(9) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 12px;
                  padding-top: 10px;
                }
                a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 25px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(3) {
                width: 100px;
                height: inherit;
                font-size: 15px;
                padding-top: 30px;
                flex-grow: 0.2;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
              > div:nth-of-type(4) {
                width: 100px;
                height: inherit;
                padding-top: 30px;
                flex-grow: 5;
                > a:nth-of-type(1) {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #86868b;
                  font-size: 15px;
                  padding-bottom: 15px;
                }
                > a {
                  font-family: Arial, Helvetica, sans-serif;
                  display: block;
                  color: #e3e3e3;
                  font-size: 15px;
                  padding: 3px;
                }
              }
            }
          }
          > li:nth-of-type(13) > a > div.Search {
            width: 100%;
            height: 350px;
            background-color: #444445;
            position: absolute;
            top: 44px;
            right: 0px;
            display: none;
            > i {
              margin-left: 205px;
              color: #86868b;
              font-size: 20px;
            }
            > input {
              background-color: #444445;
              width: 500px;
              border: 0;
              margin-left: 15px;
              margin-top: 50px;
              font-size: 25px;
              font-family: Arial, Helvetica, sans-serif;
            }
            > h3 {
              margin-top: 50px;
              font-family: Arial, Helvetica, sans-serif;
              margin-left: 207px;
              color: #e3e3e3;
              font-weight: 100;
            }
            > p {
              width: 600px;
              height: 22px;
              margin-top: 5px;
              font-family: Arial, Helvetica, sans-serif;
              margin-left: 207px;
              color: #86868b;
              padding-top: 5px;
              font-weight: 600;
              cursor: pointer;
              > i {
                margin-right: 10px;
              }
              &:hover {
                background-color: #e3e3e30c;
                font-size: 13px;
                border-radius: 5px;
                padding: 5px;
              }
            }
          }
          > li:nth-of-type(14) > a > div.shop {
            width: 100%;
            height: 350px;
            background-color: #444445;
            position: absolute;
            top: 44px;
            right: 0;
            display: none;
            > h3 {
              margin-top: 50px;
              margin-left: 105px;
              font-size: 25px;
              color: #86868b;
            }
            > p {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              margin-top: 30px;
              margin-left: 105px;
              > span {
                color: blue;
                cursor: pointer;
              }
            }
            > i {
              display: block;
              width: 100px;
              margin-left: 105px;
              padding: 10px;
            }
          }
        }
      }
    }
    > div.smenu {
      display: none;
    }
    > div.endmenu {
      display: none;
    }
    > div.endsmenu {
      width: 100%;
      padding-top: 3%;
      margin: 0 auto;
      background-color: #f4f4f7;
      > i:nth-of-type(1) {
        margin-left: 2.5%;
        padding-bottom: 2%;
        color: #444445;
        font-size: 22px;
      }
      > i:nth-of-type(2) {
        margin-left: 2.5%;
        padding-bottom: 2%;
        color: #444445;
        > span {
          padding-left: 20px;
        }
      }
      > p {
        margin-top: 1%;
        margin-left: 2.5%;
        font-size: 13px;
        padding-left: 2%;
        border-bottom: 1px solid #dbdbdd;
        height: 25px;
        width: 95%;
        color: #86868b;
        position: relative;
        > i {
          padding-left: 95%;
          display: block;
          position: absolute;
          top: 20%;
        }
      }
      > div {
        > p {
          margin-top: 1%;
          font-size: 13px;
          padding-left: 2%;
          height: 25px;
          width: 99.9%;
          color: #86868b;
          > a {
            text-decoration: underline;
            color: #0066cc;
          }
        }
        > p:nth-of-type(2),
        p:nth-of-type(4) {
          color: #444445;
        }
      }
      > p:nth-of-type(1) {
        border-top: 1px solid #dbdbdd;
        height: 35px;
        padding-top: 1%;
      }
    }
  }
}
div.mjn {
  width: 100%;
  height: 10px;
  background-color: rgb(173, 230, 227);
  position: absolute;
  top: 18800px;
  > div {
    width: 10%;
    height: inherit;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
  }
}
