@media screen and (max-width: 540px) {
  div.wrapper {
    width: 100%; }
    div.wrapper > div.box4 {
      width: 100%;
      height: 400px; }
      div.wrapper > div.box4 > div.left {
        padding-top: 7%;
        width: 100%;
        text-align: center;
        height: 200px; }
        div.wrapper > div.box4 > div.left > p:nth-of-type(1) {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 30px;
          width: 50%;
          font-weight: 600;
          margin: 0 auto;
          padding: 10px; }
        div.wrapper > div.box4 > div.left > p:nth-of-type(2) {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 18px;
          padding-top: 18px;
          margin: 0 auto;
          width: 70%; }
        div.wrapper > div.box4 > div.left > a p {
          margin-top: 18px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 18px;
          color: #0066cc; }
          div.wrapper > div.box4 > div.left > a p > i {
            font-size: 13px;
            padding-left: 5px; }
      div.wrapper > div.box4 > div.right {
        width: 100%;
        height: 200px;
        text-align: center;
        margin-top: 30%; }
        div.wrapper > div.box4 > div.right > p:nth-of-type(1) {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 30px;
          width: 70%;
          font-weight: 600;
          margin: 0 auto; }
        div.wrapper > div.box4 > div.right > p:nth-of-type(2) {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
          padding-top: 18px;
          margin: 0 auto;
          width: 78%; }
        div.wrapper > div.box4 > div.right > a p {
          margin-top: 18px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 18px;
          color: #0066cc; }
          div.wrapper > div.box4 > div.right > a p > i {
            font-size: 13px;
            padding-left: 5px; } }
