@media screen and (max-width: 540px) {
  div.wrapper {
    width: 100%; }
    div.wrapper > div.img9 {
      width: 95%;
      height: 1000px;
      margin: 4% auto; }
      div.wrapper > div.img9 > div:nth-of-type(1) {
        position: relative;
        top: -20%;
        margin: 0 auto;
        width: 95%;
        height: 520px;
        background-color: #ececec;
        text-align: center; }
        div.wrapper > div.img9 > div:nth-of-type(1) > img:nth-of-type(1) {
          padding-top: 15%; }
        div.wrapper > div.img9 > div:nth-of-type(1) > img:nth-of-type(2) {
          width: 80%;
          margin-top: 15%; }
        div.wrapper > div.img9 > div:nth-of-type(1) > p:nth-of-type(1) {
          width: 60%;
          margin: 5% auto;
          font-size: 18px;
          font-family: Arial, Helvetica, sans-serif; }
        div.wrapper > div.img9 > div:nth-of-type(1) > a:nth-of-type(1) > p {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0 22%;
          width: 23%;
          font-size: 15px;
          color: #0066cc; }
          div.wrapper > div.img9 > div:nth-of-type(1) > a:nth-of-type(1) > p > i {
            font-size: 10px;
            padding-left: 5px; }
        div.wrapper > div.img9 > div:nth-of-type(1) > a:nth-of-type(1):hover {
          text-decoration: underline;
          color: #0066cc; }
        div.wrapper > div.img9 > div:nth-of-type(1) > a:nth-of-type(2) > p {
          font-family: Arial, Helvetica, sans-serif;
          position: relative;
          bottom: 3.3%;
          width: 28%;
          left: 51%;
          font-size: 15px;
          color: #0066cc; }
          div.wrapper > div.img9 > div:nth-of-type(1) > a:nth-of-type(2) > p > i {
            font-size: 10px;
            padding-left: 5px; }
        div.wrapper > div.img9 > div:nth-of-type(1) > a:nth-of-type(2):hover {
          text-decoration: underline;
          color: #0066cc; }
      div.wrapper > div.img9 > div:nth-of-type(2) {
        width: 95%;
        background-color: #0c1a68;
        height: 650;
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: -17%;
        /* >i{
            background-color: aqua;
            width: 4%;
            height: 50px;
            font-size: 20px;
            position: relative;
            right: 45px;
            bottom: -1285%;
        }*/ }
        div.wrapper > div.img9 > div:nth-of-type(2) > img {
          padding-top: 15%; }
        div.wrapper > div.img9 > div:nth-of-type(2) > p:nth-of-type(1) {
          width: 67%;
          margin: 5% auto;
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif; }
        div.wrapper > div.img9 > div:nth-of-type(2) > a:nth-of-type(1) > p {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0 22%;
          width: 15%;
          font-size: 15px;
          color: #0066cc;
          width: 22%; }
          div.wrapper > div.img9 > div:nth-of-type(2) > a:nth-of-type(1) > p > i {
            font-size: 10px;
            padding-left: 5px; }
        div.wrapper > div.img9 > div:nth-of-type(2) > a:nth-of-type(1):hover {
          text-decoration: underline;
          color: #0066cc; }
        div.wrapper > div.img9 > div:nth-of-type(2) > a:nth-of-type(2) > p {
          font-family: Arial, Helvetica, sans-serif;
          position: absolute;
          left: 50%;
          top: 34%;
          width: 25%;
          font-size: 15px;
          color: #0066cc; }
          div.wrapper > div.img9 > div:nth-of-type(2) > a:nth-of-type(2) > p > i {
            font-size: 10px;
            padding-left: 5px; }
        div.wrapper > div.img9 > div:nth-of-type(2) > a:nth-of-type(2):hover {
          text-decoration: underline;
          color: #0066cc; }
        div.wrapper > div.img9 > div:nth-of-type(2) > div.slider {
          width: 100%;
          height: 400px;
          padding-top: 15%; }
          div.wrapper > div.img9 > div:nth-of-type(2) > div.slider > div.swiper > div.swiper-wrapper > div.swiper-slide {
            width: 80%;
            height: 300px;
            display: flex;
            background-color: #0c1a68; }
            div.wrapper > div.img9 > div:nth-of-type(2) > div.slider > div.swiper > div.swiper-wrapper > div.swiper-slide > img {
              width: fit-content;
              border-radius: 10px;
              width: 100%;
              height: 300px;
              margin: 0 auto; }
            div.wrapper > div.img9 > div:nth-of-type(2) > div.slider > div.swiper > div.swiper-wrapper > div.swiper-slide > div {
              width: 100%;
              height: 80px;
              background-color: #6f86a671;
              position: absolute;
              top: 85%;
              z-index: 50;
              border-radius: 0 0 10px 10px; }
              div.wrapper > div.img9 > div:nth-of-type(2) > div.slider > div.swiper > div.swiper-wrapper > div.swiper-slide > div > p {
                font-size: 13px;
                color: white;
                width: 60%;
                margin: 2% 0;
                padding-left: 2%; } }
